In [1]:
import os

import numpy as np
import pandas as pd

import spacy

from sklearn.model_selection import train_test_split

In [2]:
RANDOM_STATE = 42
DATA_FOLDER = "data/"

#input data files
TRAINING_DATA_FILE_X = "training_set_clean_only_text.txt"
TRAINING_DATA_FILE_y = "training_set_clean_only_tags.txt"


# output data files (after preprosessing and splitting)
X_TRAIN_FILE_NAME = "X_train.csv"
X_VALID_FILE_NAME = "X_valid.csv"

Y_TRAIN_FILE_NAME = "y_train.csv"
Y_VALID_FILE_NAME = "y_valid.csv"

In [3]:
with open(os.path.join(DATA_FOLDER, TRAINING_DATA_FILE_X), "r") as input_file:
    X = input_file.readlines()
    
with open(os.path.join(DATA_FOLDER, TRAINING_DATA_FILE_y), "r") as input_file:
    y = input_file.readlines()
    
    
X = pd.DataFrame([x.strip() for x in X], columns=["text"])
y = pd.DataFrame([x.strip() for x in y], columns=["label"])

In [4]:
X.head()

                                                text
0  Dla mnie faworytem do tytuu bdzie Cracovia. ...
1  @anonymized_account @anonymized_account Brawo ...
2  @anonymized_account @anonymized_account Super,...
3  @anonymized_account @anonymized_account Musi. ...
4    Odrzut natychmiastowy, kwana mina, mam problem

In [5]:
y.head()

  label
0     0
1     0
2     0
3     0
4     0

In [6]:
X.shape, y.shape

((10041, 1), (10041, 1))

Rzut okiem na przykdowy peny tekst:

In [7]:
X.iloc[0][0]

'Dla mnie faworytem do tytuu bdzie Cracovia. Zobaczymy, czy typ si sprawdzi.'

Czy nie ma jakich bd贸w w danych?

In [8]:
pd.isnull(X.text).sum(), pd.isna(X.text).sum()

(0, 0)

Czy s puste napisy?

In [9]:
text_lengths = X.text.str.len()
text_lengths.min(), text_lengths.max()

(6, 214)

Rzut okiem na podejrzanie kr贸tkie napisy:

In [10]:
X[text_lengths == 6]

        text
528   #NAME?
1918  #NAME?
2081  #NAME?
3201  #NAME?
5567  #NAME?
5735  #NAME?
6085  #NAME?
7341  #NAME?
7424  #NAME?
8746  #NAME?
8811  #NAME?
8857  #NAME?
9809  #NAME?

Z opisu danych (a konkretnei fragmentu 'The preprocessing, if used, will be applied mostly for cases when information about a private person is revealed to the public") wnisokuj, 偶e to anonimizacja danych osobowych (imion czy nazwisk).

Sprawdzam, czy mo偶e gdzie jeszcze sito pojawia?

In [11]:
X.text[X.text.apply(lambda x: "#NAME?" in x)]

528     #NAME?
1918    #NAME?
2081    #NAME?
3201    #NAME?
5567    #NAME?
5735    #NAME?
6085    #NAME?
7341    #NAME?
7424    #NAME?
8746    #NAME?
8811    #NAME?
8857    #NAME?
9809    #NAME?
Name: text, dtype: object

In [12]:
y[X.text.apply(lambda x: "#NAME?" in x)]

     label
528      0
1918     0
2081     0
3201     0
5567     0
5735     0
6085     0
7341     0
7424     0
8746     0
8811     0
8857     0
9809     0

Same zera. 

Usunte obserwacje, poniewa偶 wprowadzaj one tylko szum do danych i nic nie wnosz. Je偶eli w danych, an kt贸rych bdziemy dokonywa predykcji pojawi sitweet takiej postacji, to mo偶na byoby przyj reguk, 偶e przypisujemy tam zero. Natomiast pominiemy to, poniewa偶 zakdam, 偶e w realnym scenariuszu biznesowym takich tweet贸w nie bdzie, bo to nie ma sensu.

In [13]:
rows_to_drop = X.text.apply(lambda x: "#NAME?" in x)

X = X[~rows_to_drop]
y = y[~rows_to_drop]

X.shape[0], y.shape[0]

(10028, 10028)

Rzut okiem na pozostae "skrajne" tweety (drugie od najkr贸tszych i najdu偶sze) - czy nie ma tam jakichproblem贸w.

In [14]:
text_lengths = X.text.str.len()

In [15]:
text_lengths.min(), text_lengths.max()

(18, 214)

In [16]:
X[text_lengths == text_lengths.min()].iloc[0,0]

'Co to miao by? '

In [17]:
X[text_lengths == text_lengths.max()].iloc[0,0]

'@anonymized_account @anonymized_account @anonymized_account @anonymized_account @anonymized_account @anonymized_account @anonymized_account @anonymized_account @anonymized_account Dla nich ka偶da prawda to chamstwo.'

To pobie偶ne sprawdzenie, ale ze wzgldu na czas uznaj, 偶e dane ju偶s "czyste". W praktyce, sprawdzabym to dokadniej i du偶ej.

Rzut okiem na rozkad zmiennej celu.

In [18]:
y.value_counts(normalize=True)

label
0        0.915138
2        0.059633
1        0.025229
dtype: float64

Rozkad silnie niezbalansowany - potrzebna dopasowana miara jakoci (c zreszt wiadomo ju偶 z opisu danych na polevalu, a i tak nawet bez tego to byo do przewidzenia:)) oraz prawdopodobnie przydatne techniki dla niezbalansowanych danych.

Dodamy do danych text w wersji zlematyzowanej.

In [19]:
NLP = spacy.load('pl_core_news_sm')

In [20]:
def lemmatize(x):
    doc = NLP(x) 
    return " ".join([token.lemma_ for token in doc])

In [21]:
X["text_lemmatized"] = X.text.apply(lemmatize)

Rzut okiem czy si conie zepsuo:

In [22]:
X

,text,text_lemmatized
0,Dla mnie faworytem do tytuu bdzie Cracovia. ...,dla ja faworyt do tytu by cracovia . zobaczy...
1,@anonymized_account @anonymized_account Brawo ...,@anonymized_account @anonymized_account brawo ...
2,"@anonymized_account @anonymized_account Super,...",@anonymized_account @anonymized_account super ...
3,@anonymized_account @anonymized_account Musi. ...,@anonymized_account @anonymized_account musi ...
4,"Odrzut natychmiastowy, kwana mina, mam problem","odrzut natychmiastowy , kwana mina , mie pro..."
...,...,...
10036,@anonymized_account Ty zagrasz? Nie wiedziaem,@anonymized_account ty zagra ? nie wiedzie
10037,@anonymized_account @anonymized_account A VAR ...,@anonymized_account @anonymized_account a var ...
10038,@anonymized_account @anonymized_account Szanow...,@anonymized_account @anonymized_account szanow...
10039,@anonymized_account @anonymized_account @anony...,@anonymized_account @anonymized_account @anony...
10040,@anonymized_account A wr贸偶bita Maciej m贸wi 偶e ...,@anonymized_account a wr贸偶bit Macieja m贸wi 偶e...

Podziana dane treningowe i walidacyjne wykonuj z zachowaniem proporcji klas w obu podgrupach. Niekt贸rzy uznaj to za podejcie niepoprawne (poniewa偶 wartoci z danych wpywaj na podzia), ale ja uwa偶am, 偶e tak nale偶y robi, poniewa偶 w przeciwnym przypadku pechowego podziau, ocena mo偶e by mocno niestabilna/zaburzona. Koniec koniec贸w, i tak to jest tylko zbi贸r walidacyjny, kt贸ry zostanie wykorzystany do optymalizacji rozwiza - ostateczna ocena zostanie jeszcze przeprowadzona na zbiorze testowym dostarczonym w konkursie.

In [23]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=1000, stratify=y, random_state=RANDOM_STATE)

In [24]:
y_train.value_counts(normalize=True), y_valid.value_counts(normalize=True)

(label
 0        0.915153
 2        0.059592
 1        0.025255
 dtype: float64,
 label
 0        0.915
 2        0.060
 1        0.025
 dtype: float64)

In [25]:
X_train.to_csv(os.path.join(DATA_FOLDER, X_TRAIN_FILE_NAME))
X_valid.to_csv(os.path.join(DATA_FOLDER, X_VALID_FILE_NAME))

y_train.to_csv(os.path.join(DATA_FOLDER, Y_TRAIN_FILE_NAME))
y_valid.to_csv(os.path.join(DATA_FOLDER, Y_VALID_FILE_NAME))